header {
    background-color: black;
    color: white;
    box-shadow: 0px 5px 10px 3px #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.active_link {
    color: red;
    margin-right: 10px;
}